[tool.ruff]
line-length = 88
exclude = ["**/migrations/**"]

[tool.ruff.lint]
select = ["E", "F", "I"]

[tool.ruff.lint.per-file-ignores]
"Rakmedia/settings/*.py" = ["F403", "F405"]
"api/models.py" = ["E501"]
"api/serializers.py" = ["E501"]
"api/views.py" = ["E501"]
"api/urls.py" = ["E501"]
"api/signals.py" = ["E501"]
"api/tasks.py" = ["E501"]
"api/admin.py" = ["E501"]
"api/apps.py" = ["E501"]
"api/management/commands/create_employee_profiles.py" = ["E501"]
"api/management/commands/generate_user_accounts.py" = ["E501"]
"api/management/commands/populate_db.py" = ["E501"]
"api/tests.py" = ["E501"]
"Rakmedia/settings/base.py" = ["E501"]
"api/utils/cache_decorator.py" = ["E501"]


[tool.mypy]
python_version = "3.11"
plugins = ["mypy_django_plugin.main"]
ignore_missing_imports = true
strict_optional = true
warn_unused_ignores = true
warn_redundant_casts = true
disallow_untyped_defs = false


[tool.django-stubs]
django_settings_module = "Rakmedia.settings.dev"


[tool.pylint.main]
disable = [
  "missing-module-docstring",
  "missing-class-docstring",
  "missing-function-docstring",
]
max-line-length = 88
